<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form action="/user/login" method="POST">
        <label for="">Email</label>
        <input type="email"require name="email" />

        <label for="">Password</label>
        <input type="password"require name="password" />

        <button type="submit">SignUp</button>
    </form>
</body>
</html>